* {
    padding: 0;
    margin: 0;
}

.container {
    min-height: 100vh;

    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
}

.sidebar {
    padding: 1rem;

    background-color: #1992d4;

    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 5fr 5fr;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.svg-logo {
    fill: white;
    height: 3rem;
    width: 3rem;
}

.logo h1 {
    font-size: 2rem;
}

.sidebar-actions {
    background-color: yellow
}